<configuration>
    <jmxConfigurator />
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <springProperty scope="context" name="app_name" source="spring.application.name"/>
    <property name="log_file" value="/var/log/${app_name}/${app_name}.log"/>
    <springProfile name="development,dev,test,testing">
        <property name="log_file" value="${BUILD_FOLDER:-build}/${app_name}.log"/>
        <property name="log_prefix" value="${app_name}-dev" />
    </springProfile>
    <springProfile name="production,prod">
        <property name="pt_host" value="logs4.papertrailapp.com" />
        <property name="pt_port" value="16456" />
        <property name="log_prefix" value="${app_name}-pr" />
    </springProfile>
    <springProfile name="staging,stage">
        <property name="pt_host" value="logs4.papertrailapp.com" />
        <property name="pt_port" value="28814" />
        <property name="log_prefix" value="${app_name}-st" />
    </springProfile>
    <property name="log_pattern" value="${log_prefix}: [%thread] %-5level %logger{40} - %msg%n"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_file}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_file}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{MMM dd yyyy HH:mm:ss.SSS, America/Los_Angeles} ${log_pattern}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="FILE" />
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{MMM dd yyyy HH:mm:ss.SSS, America/Los_Angeles} ${log_pattern}</pattern>
        </layout>
    </appender>

    <springProfile name="production,staging,prod,stage">
        <appender name="PAPERTRAIL" class="ch.qos.logback.classic.net.SyslogAppender">
            <syslogHost>${pt_host}</syslogHost>
            <port>${pt_port}</port>
            <facility>USER</facility>
            <suffixPattern>${log_prefix}: [%thread] %-5level %logger{36} - %msg</suffixPattern>
        </appender>

        <appender name="ASYNC_PAPERTRAIL" class="ch.qos.logback.classic.AsyncAppender">
            <queueSize>500</queueSize>
            <discardingThreshold>0</discardingThreshold>
            <appender-ref ref="PAPERTRAIL" />
        </appender>
    </springProfile>

    <logger name="com.searshomeservices" level="${log.level:-INFO}" additivity="false">
        <appender-ref ref="ASYNC_FILE" />
        <springProfile name="production,prod,staging,stage">
            <appender-ref ref="ASYNC_PAPERTRAIL" />
        </springProfile>
        <springProfile name="development,dev,test,testing">
            <appender-ref ref="STDOUT" />
        </springProfile>
    </logger>

    <root level="${log.level:-INFO}">
        <appender-ref ref="ASYNC_FILE" />
        <springProfile name="staging,stage">
            <appender-ref ref="ASYNC_PAPERTRAIL" />
        </springProfile>
        <springProfile name="development,dev,test,testing">
            <appender-ref ref="STDOUT" />
        </springProfile>
    </root>
</configuration>
